/**==============responsive-pages-design==================**/

@media (min-width: 1200px) {
  .MuiContainer-maxWidthLg {
    max-width: 1170px !important;
  }
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
  .login-form {
    position: absolute;
    left: 15px;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }

  .login-page-contant {
    height: 100vh;
    padding: 10% 0;
    position: relative;
  }

  .MuiContainer-root {
    width: 991px !important;
  }

  .multiselect-group li label {
    padding: 10px 12px;
    border-radius: 100px;
    display: inline-block;
    width: 100%;
    font-size: 11px;
  }
}

@media screen and (max-width: 991px) {
  .card.code-table.card-body table {
    min-width: 940px;
  }
  .card.code-table .table thead th {
    font-size: 12px;
  }
  .card.code-table.card-body {
    overflow-x: scroll;
  }

  .multiselect-group li label {
    padding: 10px 12px;
    border-radius: 100px;
    display: inline-block;
    width: 100%;
    font-size: 11px;
  }

  .navbar > ul li a {
    font-size: 13px;
    padding: 10px;
  }

  .MuiContainer-root {
    width: 750px !important;
  }

  .right-contant {
    padding: 20px 36px;
    width: 100%;
  }

  .page-sm-title {
    font-size: 20px;
  }

  .small-title {
    font-size: 18px;
    margin: 15px 0;
  }

  .detail-process li h6 {
    font-size: 16px;
  }

  .detail-process li {
    font-size: 16px;
  }

  .chating-box-list-outer li.send-message {
    padding-right: 10%;
  }

  .chating-box-list-outer li.recivedmessage {
    padding-left: 10%;
  }

  .chating-box {
    flex: 0 0 60%;
    max-width: 60%;
  }

  .message-outer p {
    margin: 0;
    font-size: 12px;
    line-height: 1.5;
  }

  .chating-box-list-outer li.send-message .message-timing {
    position: absolute;
    right: 0;
    bottom: -20px;
  }

  .chating-box-list-outer li {
    position: relative;
  }

  .chating-box-list-outer li.recivedmessage strong.message-timing {
    position: absolute;
    left: 0;
    bottom: -20px;
  }

  .message-outer {
    flex-grow: 1;
  }

  .chating-box-list-outer {
    padding: 24px;
  }

  .MuiOutlinedInput-input {
    padding: 14px 14px !important;
  }

  .MuiFormLabel-root.Mui-focused {
    transform: translate(15px, -7px) scale(1) !important;
  }
}

@media screen and (max-width: 767px) {
  .top-space ul li a,
  .top-space ul li.user_logout {
    padding: 6px 20px;
    font-size: 13px;
  }

  .showsidebar .navtoggle i {
    transform: rotate(180deg);
  }

  .myaccount-left {
    max-width: 30%;
  }

  .mobile-nav-btn {
    display: block !important;
  }

  .headerright nav.navbar {
    position: fixed;
    left: 0;
    width: 250px;
    background: #50663c;
    top: 0;
    bottom: 0;
    padding: 15px;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    transform: translate(-260px);
    box-sizing: border-box;
  }

  .headerright nav.navbar ul {
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    width: 100%;
    align-self: start;
  }

  .headerright nav.navbar ul li {
    width: 100%;
    text-align: left;
  }

  .headerright nav.navbar ul li a {
    color: #fff !important;
    padding: 15px 0;
    display: inline-block;
    font-size: 14px;
    border-bottom: 1px solid #637257;
    width: 100%;
    box-sizing: border-box;
  }

  .shownavbar .headerright nav.navbar {
    transform: translate(0);
  }

  .MuiContainer-root {
    width: 100% !important;
  }

  .page-title-contant {
    max-width: 100%;
  }

  .page-contant {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .contact-page {
    flex-direction: column;
  }

  .contact-form {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .map-outer {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0;
  }

  .map-outer img {
    width: 100%;
  }

  .page-contant {
    padding-bottom: 10px;
  }

  .sidebar-nav {
    /* transform: translate(-120px); */
    /* width: 0; */
    position: fixed;
    left: -120px;
    top: 80px;
    bottom: 0;
    height: auto;
    overflow-y: auto;
    z-index: 9;
  }

  .sidebar-nav::-webkit-scrollbar {
    width: 5px;
  }

  .sidebar-nav::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .sidebar-nav::-webkit-scrollbar-thumb {
    background: #888;
  }

  .right-contant {
    padding: 28px 20px 15px 20px;
  }

  .MuiContainer-root {
    padding: 0 20px;
  }

  .after-login {
    padding-top: 8px;
  }

  .navtoggle {
    display: block !important;
  }

  .navtoggle span {
    font-size: 16px;
  }

  .showsidebar .sidebar-nav {
    left: 0;
  }

  .btn-row-bottom button {
    min-width: 120px;
    box-sizing: border-box;
    font-size: 13px;
    margin-right: 7px;
  }

  .btn-row-bottom button:last-child {
    margin-right: 0;
  }

  .edit-part a span {
    display: block;
    font-size: 12px;
  }

  .shownavbar .mobile-nav-btn span i:before {
    content: "\f00d";
    font-size: 24px;
  }

  .chating-box-list-outer {
    padding: 24px;
  }

  .myaccount-left.message-outer-left {
    padding: 20px 10px 0 20px;
  }

  .myaccount-left.message-outer-left .page-sm-title {
    padding-left: 0;
  }

  .chating-box-list-outer li.send-message {
    padding-right: 5%;
  }

  .chating-box-list-outer li.recivedmessage {
    padding-left: 5%;
  }

  .myaccount-edit-form strong.form-title {
    padding: 10px 20px;
    font-size: 16px;
  }

  .myaccount-edit-form form {
    padding: 10px 0;
  }

  .notification-header .clear-btn,
  .notification-header .clear-btn:hover {
    font-size: 14px;
    padding: 8px 15px;
    height: 38px;
  }

  .notificaion-list-outer .MuiButton-root {
    opacity: 1;
    background: #f2f2f2;
    right: 20px;
  }

  .notification-list {
    padding-right: 80px;
  }

  .notification-list p {
    font-size: 13px;
    line-height: 1.5;
  }

  .notification-header {
    margin-bottom: 15px;
  }

  .auditrequest-outer {
    flex-direction: column;
    width: 100%;
    padding: 0 0 15px 0;
  }

  .auditrequest-outer .request-form {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .registration-grp {
    flex: 0 0 100%;
    max-width: 100%;
    margin-left: 0;
  }

  .registration-grp h5 {
    padding-bottom: 10px;
  }

  .request-form-footer .tearmcondition,
  .request-form-footer .tearmcondition a {
    margin: 10px 0;
  }

  .request-form form > .MuiFormControl-root.MuiTextField-root,
  .request-form form > .MuiInputBase-root.MuiOutlinedInput-root {
    margin: 10px 0;
  }

  .sidebar-nav {
    box-shadow: none;
  }

  .dashboard-header .navtoggle:focus {
    color: #fff;
  }

  .sidebar-nav ul li a {
    padding: 12px 10px;
  }

  .chating-header {
    padding: 10px 20px;
  }

  .chating-head-left figure {
    width: 40px;
    height: 40px;
  }

  .chatuser .user-name {
    font-size: 16px;
  }

  .chatuser .sta-cs {
    font-size: 13px;
  }

  .chating-header .chating-nav {
    font-size: 20px;
    min-width: 24px;
    padding: 5px;
  }

  .chating-box-list-outer li.send-message .message-timing {
    padding-left: 0;
    right: 6%;
    font-size: 11px;
  }

  .chating-box-list-outer li.recivedmessage strong.message-timing {
    font-size: 11px;
    left: 6%;
  }

  .message-outer {
    padding: 10px 15px;
  }

  .chating-box-list-outer li .message-user-name {
    font-size: 12px;
  }

  .chating-box-list-outer li .usr-info img {
    width: 36px;
    height: 36px;
  }

  .message-outer-left .people li img {
    width: 40px;
    height: 40px;
  }

  .message-outer-left .people li p.status {
    font-size: 11px;
  }

  .dashboard-header {
    border-bottom: 1px solid #ddd;
  }

  .showsidebar .overlay-blr {
    opacity: 0.6;
    z-index: 9;
    visibility: visible;
  }

  .showsidebar .sidebar-nav {
    z-index: 99;
  }

  .backend-page-contant {
    align-items: flex-start;
  }

  .backend-page-contant .navtoggle {
    z-index: 999;
    position: fixed;
    min-width: auto;
    line-height: 1;
    border-radius: 0;
    color: #fff;
    padding: 12px 15px;
    background: #87c846;
    top: 66px;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
  }

  .backend-page-contant {
    position: relative;
  }

  .showsidebar .backend-page-contant .navtoggle {
    transform: translate(108px);
  }

  .App-header {
    z-index: 999 !important;
  }
}

@media screen and (max-width: 575px) {
  .top-space ul li {
    line-height: 1;
    min-height: initial;
  }

  .profile.black-text {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .App-brand img {
    max-width: 110px;
  }

  .headerright li a {
    font-size: 13px;
    padding-left: 0;
  }

  .headerright .navbar > ul {
    align-items: center;
    padding-left: 0;
  }

  .App-header {
    height: auto;
    padding: 10px 0;
  }

  .login-form {
    margin: 0px auto;
  }

  .login-form {
    padding: 24px;
  }

  .login-page-contant {
    box-sizing: border-box;
    padding: 60px 0;
  }

  .login-form .MuiButton-sizeLarge {
    font-size: 16px;
    width: 136px;
    height: 45px;
    margin: 20px auto;
  }

  footer {
    padding: 15px 0;
  }

  .login-form h1 {
    font-size: 20px;
  }

  .login-form .MuiFormControl-root input {
    height: 50px;
    padding: 10px;
    line-height: 1;
    box-sizing: border-box;
  }

  .MuiInputLabel-outlined {
    font-size: 13px !important;
  }

  .forgotpass label {
    font-size: 13px;
  }

  .forgotpass .forgot {
    font-size: 13px;
  }

  .forgotpass {
    margin: 0;
  }

  .footer-contant a {
    font-size: 13px;
    display: inline-block;
  }

  .footer-contant {
    flex-direction: column;
  }

  .copyright {
    font-size: 14px;
  }

  .copyright a {
    padding-right: 5px;
  }

  .page-title {
    padding: 24px 0 50px 0;
  }

  .page-title-contant h2 {
    font-size: 20px;
  }

  .page-title-contant h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  .about-page-text p {
    font-size: 13px;
    padding: 10px 0;
  }

  .about-page-text h3 {
    margin: 0;
  }

  .page-contant {
    padding: 15px;
    margin-bottom: 32px;
  }

  .faq-search .MuiButton-label img {
    max-width: 20px;
  }

  .formgrpouter .MuiInputBase-input {
    height: 50px;
    box-sizing: border-box;
  }

  form.dontctformgrp {
    flex-direction: column;
  }

  .formgrpouter {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 10px 0;
  }

  .login-form .d-flex * {
    font-size: 12px;
  }

  .login-form h1 {
    padding: 0 0 15px 0;
  }

  .detail-process li h6 {
    font-size: 13px;
    padding-right: 10px;
    text-align: left;
  }

  .detail-process li {
    font-size: 13px;
    text-align: right;
  }

  .page-sm-title {
    margin: 0;
    font-size: 16px;
  }

  .notification img {
    width: 20px;
  }

  .notification .notification-count {
    font-size: 11px;
    width: 18px;
    height: 18px;
    font-size: 10px;
    line-height: 1.8;
  }

  .profile {
    font-size: 13px;
  }

  .small-title {
    font-size: 14px;
    margin: 10px 0;
  }

  body {
    padding-top: 70px !important;
  }

  .sidebar-nav {
    top: 66px;
  }

  .myaccount-outer {
    padding-top: 15px;
    flex-direction: column;
  }

  .myaccount-left {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }

  .myaccount-edit-form {
    max-width: 100%;
    flex: 0 0 100%;
    width: 100%;
    margin: 0;
  }

  .profile-outer figure {
    width: 100px;
    height: 100px;
    overflow: hidden;
  }

  .profile-outer figure img {
    max-width: 100%;
  }

  .myaccount-left.message-outer-left {
    padding: 20px 20px 0 20px;
  }

  .chating-box {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .message-outer-left .people li img {
    width: 36px;
    height: 36px;
  }

  .message-outer-left .people li .name {
    font-size: 13px;
  }

  .message-outer-left .people li p.status {
    font-size: 11px;
  }

  .timeright .offline {
    font-size: 12px;
  }

  .timeright span {
    font-size: 11px;
  }

  .chating-header {
    padding: 10px 20px;
  }

  .chatuser .user-name {
    font-size: 16px;
  }

  .chatuser .sta-cs {
    font-size: 12px;
  }

  .chating-head-left figure {
    width: 50px;
    height: 50px;
  }

  .chating-header .chating-nav {
    font-size: 20px;
  }

  .notificaion-list-outer .MuiButton-root {
    top: 5px;
    right: 5px;
    transform: translate(0);
    width: 36px;
    height: 36px;
  }

  .notification-list {
    padding-right: 15px;
    margin-bottom: 15px;
  }

  .notification-list strong {
    width: 100%;
    display: inline-block;
    padding-right: 32px;
    font-size: 14px;
  }

  .timedate {
    font-size: 14px;
  }

  .notificaion-list-outer .MuiButton-root img {
    width: 12px;
  }

  .notification-header .clear-btn,
  .notification-header .clear-btn:hover {
    height: 36px;
    font-size: 13px;
    font-weight: 600;
  }

  .cinfirm-modal-outer .makeStyles-paper-2 {
    width: 300px;
  }

  .cinfirm-modal-outer h6 {
    font-size: 16px;
    margin: 0;
  }

  .cinfirm-modal-outer .modal-btn-part .btn {
    min-width: 110px;
    height: 38px;
    font-size: 14px;
    margin: 0 5px;
  }

  .cinfirm-modal-outer .modal-btn-part {
    padding: 15px 0 10px 0;
  }

  .key-person {
    font-size: 13px;
    padding-top: 10px;
  }

  .cinfirm-modal-outer .makeStyles-paper-2 h3 {
    padding: 15px;
  }

  .confirm-modal-body {
    padding: 15px;
  }

  .myaccount-edit-form strong.form-title {
    padding: 15px 20px;
    font-size: 15px;
  }

  .sidebar-nav ul li a span {
    font-size: 13px;
  }

  .edit-part a span {
    font-size: 11px;
  }

  .edit-part a {
    padding: 0 6px;
  }

  .auditrequest-outer .request-form,
  .registration-grp,
  .myaccount-left,
  .myaccount-edit-form {
    padding: 15px !important;
  }

  .right-contant {
    padding: 36px 15px 15px 15px;
    box-sizing: border-box;
    width: 100%;
  }

  .myaccount-header {
    margin-bottom: 15px;
  }
  .card fieldset span {
    font-size: 10px !important;
  }

  .card .MuiInputLabel-outlined.MuiInputLabel-marginDense {
    font-size: 11px !important;
    transform: translate(13px, 18px) scale(1);
  }

  .pagination_sec .col {
    padding: 0 10px;
  }
}
